<html>
<head>
  <title>Gets the change</title>
</head>

<body>

<h2>Enter a number to get the amount of change</h2>

<form method="post" action="{% url action="change" %}">
<textarea name="change_raw"></textarea>
<input type="submit">
</form>

{% if change_raw %}
<p>Minimum number of coins in: ${{change_raw}}</p>
{% elif badarg %}
<p>You didn't supply a number.  What I got was "{{ badarg }}"</p>
{% endif %}

<ul>
{% if changes %}
  {% for change in changes %}
    <li> {% if change.denomination == 200 %} {{ "Toonies" }}
         {% elif change.denomination == 100 %} {{"Loonies"}}
         {% elif change.denomination == 25 %} {{"Quarters"}}
         {% elif change.denomination == 10 %} {{"Dimes"}}
         {% elif change.denomination == 5 %} {{"Nickels"}}
         {% elif change.denomination == 1 %} {{"Pennies"}}
         {% endif %} : {{ change.amount }}
  {% endfor %}
{% else %}
  <li>No Change
{% endif %}
</ul>

</body>
</html>
