
<html>
<head>
  <title> Fresh hot greetings!</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script>
    function listen_for_events(timestamp) {
      $.ajax("/greeting/pull/"+timestamp, { success:
        function(data, code, xhr) {
          for (var i = 0; i<data.greetings.length; i++) {
            var msg = data.greetings[i].greeting_text;
            $("li").remove('[value="empty"]');
            $("#greeting_list").append('<li value="'+data.greetings[i].id+'">'+msg);
          }
        }
      });
      listen_for_events({{ timestamp }});
    }
  </script>
  <script>
        function(data, code, xhr) {
          for (var i = 0; i < data.greetings.length; i++) {
            var msg = data.greetings[i].id;
            $("li").remove('[value="'+msg+'"]');            
          }
          if (!$("#greeting_list")) {
            $("#greeting_list").append('<li value="empty">No Greetings!');
          } 
        }
      });
    }
 </script>
</head>
<body>
  <ul id="greeting_list">
    {% for greeting in greetings %}
      <li value="{{ greeting.id }}">{{ greeting.greeting_text }}
    {% empty %}
      <li value="empty">No greetings!
    {% endfor %}
  </ul>
</body>
<script>
    $(document).ready(function() {
      listen_for_events({{ timestamp }});
    });
 </script>
</html>
      
