
<html>
<head>
  <title>Alan Chat</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script>
    function listen_for_events(timestamp) {
      $.ajax("/achat/pull/"+timestamp, {
        success:
          function(data, code, xhr) {
            for(var i = 0; i < data.messages.length; i++) {
              var msg = data.messages[i].message_text;
              $("#chatlog").val($("#chatlog").val() + msg + "\n");
            }
            listen_for_events(data.timestamp);
          }
      });
    }
  </script>
</head>
<body>
<textarea rows = "50" cols="100" id="chatlog" disabled>
{% for message in messages %}{{ message.message_text }}
{% empty %}
{% endfor %}
</textarea>

<p id="log_name">{% if login %}{{ login }}{% else %}Guest{% endif %}</p>
<textarea id="message_text" autofocus>{% if new_msg %}{{ new_msg.message_text }}{% endif %}</textarea>
<button id="send_button">Send</button>

</body>
<script>
  $(document).ready(function() {
    $("#send_button").click(function() {
      submit_text();
    });
    $("#message_text").keypress(function() {
      if(event.which == 13) { //keypress = enter
        event.preventDefault();
        submit_text();
      }
    });
    function submit_text() {
      var text = $("textarea#message_text").val();
      $.ajax("/achat/push/" + text);
      $("textarea#message_text").val("");
      $("#message_text").focus();
    }
    listen_for_events({{ timestamp }});
  });
</script>
<script>
</script>
</html>



